.errToggle{
  visibility:hidden;
}

.inputError{
  color:red;
}

.App{
  text-align:center;
}

a:visited {
  color: black;
}

body{
  background-color:#f2f2f2;
}

.title1{
  color:#12535b;
}

.title2{
  color:#4a7ad0;
}

.title{
	color:white;
}

.currentLoc{
	margin-left:3px;
}

.locDark{
	color:white;
}

.currentForecast{
	color:white;
}
.Home{
	margin: 0 5px;
}
.HomeDark{
	margin: 0 5px;
	color:white;
}
.Switch{
	margin: 0 5px;
}
.SwitchDark{
	margin: 0 5px;
	color:yellow;
}

.darkMode{
	background-color:black;
	color:white;
}


.cloudy {
	animation: cloudy 5s ease-in-out infinite;
	background: #FFFFFF;
	border-radius: 50%;
	box-shadow: 
		#FFFFFF 65px -15px 0 -5px, 
		#FFFFFF 25px -25px, 
		#FFFFFF 30px 10px, 
		#FFFFFF 60px 15px 0 -10px, 
		#FFFFFF 85px 5px 0 -5px;
	height: 50px;
	width: 50px; 
	margin-left: -60px;
	position: absolute;
	left: 50%;
	top: 35%; 
}
.cloudy:after {
	animation: cloudy_shadow 5s ease-in-out infinite;
	background: #000000;
	border-radius: 50%;
	content: '';
	height: 15px;
	width: 120px;
	opacity: 0.2;
	position: absolute;
	left: 5px; 
	bottom: -60px;
  transform: scale(1);
}
@keyframes cloudy {
	50% { transform: translateY(-20px); }
}
@keyframes cloudy_shadow {
	50% { transform: translateY(20px) scale(.7); opacity:.05; }
}
